<?xml version="1.0" encoding="utf-8"?>

<window id="4">
    <defaultcontrol always="true">50</defaultcontrol>

    <controls>
		<include>Background_Global</include>

		<control type="group">
			<left>240</left>	
			<top>240</top>

            <include content="Common_Window_Backing">
                <param name="width" value="1520"/>
                <param name="height" value="605"/>  
                <param name="logo_visible" value="false"/>   
                <param name="header_height" value="5"/>             
            </include> 

			<control type="group" id="378">
				<top>5</top>

	            <include content="Common_Separator_Vertical"> 
	                <param name="left" value="1000"/>   
	                <param name="height" value="600"/>
	            </include>

				<control type="panel" id="50">
					<width>1500</width>
					<height>600</height>
					<orientation>horizontal</orientation>
					<itemlayout width="500" height="120">
					
						<control type="label">
							<posx>140</posx>
							<height>120</height>
							<font>font36B</font>
							<textcolor>BaseMediumHigh</textcolor>
							<label>$INFO[ListItem.Label]</label>
						</control>
						
						<control type="image">
							<width>120</width>
							<height>120</height>
							<texture colordiffuse="BaseMediumHigh">$INFO[ListItem.Thumb]</texture>
						</control>
					
					</itemlayout>
					
					<focusedlayout width="500" height="120">
					
						<control type="image">
							<width>500</width>
							<height>120</height>
							<texture colordiffuse="BaseLowest">colors/color_white.png</texture>
						</control>

						<control type="image">
							<width>120</width>
							<height>120</height>
							<texture colordiffuse="$VAR[Accent_100]">colors/color_white.png</texture>
						</control>
						
						<control type="label">
							<posx>140</posx>
							<height>120</height>
							<font>font36B</font>
							<label>$INFO[ListItem.Label]</label>
							<textcolor>$VAR[Accent_100]</textcolor>
						</control>
						
						<control type="image">
							<width>120</width>
							<height>120</height>
							<texture colordiffuse="BaseWhite">$INFO[ListItem.Thumb]</texture>
						</control>
						
					</focusedlayout>
					
					<content>
					
						<item id="1">
							<description>Interface</description>
							<label>$LOCALIZE[31372]</label>
							<label2>$LOCALIZE[31303]</label2>
							<thumb>../extras/tiles/appearance.png</thumb>
							<onclick>activatewindow(InterfaceSettings)</onclick>
						</item>
						
						<item id="2">
							<description>Skin</description>
							<label>$LOCALIZE[31132]</label>
							<label2>$LOCALIZE[31313]</label2>
							<thumb>../extras/tiles/skin.png</thumb>
							<onclick>activatewindow(skinsettings,return)</onclick>
						</item>
						
						<item id="3">
							<description>Media</description>
							<label>$LOCALIZE[14022]</label>
							<label2>$LOCALIZE[31304]</label2>
							<thumb>../extras/tiles/videos.png</thumb>
							<onclick>activatewindow(MediaSettings)</onclick>
						</item>
						
						<item id="4">
							<description>Live TV</description>
							<label>$LOCALIZE[31434]</label>
							<label2>$LOCALIZE[31310]</label2>
							<thumb>../extras/tiles/livetv.png</thumb>
							<onclick>activatewindow(PVRSettings,return)</onclick>
						</item>
						
						<item id="5">
							<description>Addons</description>
							<label>$LOCALIZE[24001]</label>
							<label2>$LOCALIZE[31309]</label2>
							<thumb>../extras/tiles/addons.png</thumb>
							<onclick>ActivateWindow(addonbrowser)</onclick>
						</item>
						
						<item id="6">
							<description>Player</description>
							<label>$LOCALIZE[14200]</label>
							<label2>$LOCALIZE[31307]</label2>
							<thumb>../extras/tiles/player.png</thumb>
							<onclick>ActivateWindow(PlayerSettings,return)</onclick>
						</item>
						
						<item id="7">
							<description>Services</description>
							<label>$LOCALIZE[14036]</label>
							<label2>$LOCALIZE[31311]</label2>
							<thumb>../extras/tiles/services.png</thumb>
							<onclick>activatewindow(ServiceSettings,return)</onclick>
						</item>
						
						<item id="8">
							<description>System</description>
							<label>$LOCALIZE[13000]</label>
							<label2>$LOCALIZE[31308]</label2>
							<thumb>../extras/tiles/system.png</thumb>
							<onclick>activatewindow(SystemSettings,return)</onclick>
						</item>
						
						<item id="9">
							<description>Profiles</description>
							<label>$LOCALIZE[13200]</label>
							<label2>$LOCALIZE[31312]</label2>
							<thumb>../extras/tiles/profile.png</thumb>
							<onclick>activatewindow(Profiles,return)</onclick>
						</item>
						
						<item id="10">
							<description>System Info</description>
							<label>$LOCALIZE[130]</label>
							<label2>$LOCALIZE[31314]</label2>
							<thumb>../extras/tiles/info.png</thumb>
							<onclick>activatewindow(7,return)</onclick>
						</item>
										
					</content>
					
				</control>
				
				<control type="group">	
					<left>1020</left>
					<width>460</width>
				
					<control type="label">
						<height>75</height>
						<font>font40B</font>
						<label>$INFO[Container(50).ListItem.Label]</label>
						<textcolor>$VAR[Accent_100]</textcolor>
					</control>
					
					<control type="textbox">
						<description>description area</description>
						<left>20</left>
						<top>80</top>
						<height>660</height>
						<font>font30R</font>
						<textcolor>BaseMediumHigh</textcolor>
						<label>$INFO[Container(50).ListItem.Label2]</label>
					</control>
				
				</control>	

			</control>
			
		</control>	
			
		<include>Common_LeftBar</include>		

	</controls>
	
</window>